#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}


progress[value]::-webkit-progress-bar {
  background-color: #ededed;
  border-radius: 40px;
  height: 10px;
}

progress[value]::-webkit-progress-value {
  border-radius: 40px;
  height: 10px;
  background-color: rgb(21, 166, 214);
}